body {
  background-image: url('https://wallpapercave.com/wp/wp2866483.png');
}

.left-pipe {
  float: left;
  height: 100%;
  width: 30%;
  align-items: flex-start;
  outline: 1px solid red;
}
.right-pipe {
  float: right;
  align-items: flex-end;
}
.middle-pipe {
  align-items: center;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;

}
